<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#'Series'-object-has-no-attribute-'year'" data-toc-modified-id="'Series'-object-has-no-attribute-'year'-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>'Series' object has no attribute 'year'</a></span></li></ul></div>

In [1]:
import pandas as pd

# 'Series' object has no attribute 'year'

In [3]:
df = pd.DataFrame(['2015-07-31', '2015-07-21', '2015-03-31', '2015-07-11'], columns=['Date'])
df

         Date
0  2015-07-31
1  2015-07-21
2  2015-03-31
3  2015-07-11

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.Date.year

AttributeError: 'Series' object has no attribute 'year'

In [8]:
df.Date.dt.year

0    2015
1    2015
2    2015
3    2015
Name: Date, dtype: int64